# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Netlify/Build
.netlify/
dist/
build/

# Node (로컬 dev나 함수에 npm 쓰게 되면)
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*.local

fitpl_배포.bat

deploy_fitpl.log